@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">

        @foreach (var product in @Model)
        {
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img style="height: 200px;" src="@product.ImageUrl" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@product.Title - @product.Price</h5>
                        <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-primary">Add to card</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@* <p>
    @Context.Session.GetString("cart")
</p> *@