@model IEnumerable<Post>

@if (TempData.ContainsKey("Status"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Status"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<partial name="_ShowPostPartial" model="@Model" />




@* <div class="list-group">

    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@item.Title</h5>
                <small>@item.Date.Year-@item.Date.Month-@item.Date.Day</small>
            </div>
            <p class="mb-1">@item.Content</p>
        </a>
    }
</div> *@